.container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}

.form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 15px;
}

.form input {
    width: 100%;
    height: 40px;
    background-color: #1a1a1a;
}

.form select {
    width: 100%;
    height: 40px;
    background-color: #1a1a1a;
}

.form button {
    width: 100%;
    grid-column: 2 / span 2;
    background-color: #1a1a1a;
}

@media screen and (max-width: 768px) {
    .form {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

}